.task-manager-layout {
    min-height: 100vh;
}

.task-manager-header {
    background: #f5f5f5;
    padding: 0 20px;
}

.task-manager-content {
    padding: 20px 50px;
}

.task-manager-space {
    display: flex;
}

.task-input-container {
    display: flex;
    width: 100%;
}

.task-input {
    flex-grow: 1;
    margin-right: 10px;
}

.task-completed {
    text-decoration: line-through;
}