.task-manager-layout {
    min-height: 100vh;
}

.task-manager-header {
    margin: 0 auto;
    padding-top: 30px;
}

.task-manager-content {
    padding: 20px 15%;
}

.task-manager-space {
    display: flex;
}

.task-input-container {
    display: flex;
    width: 100%;
}

.input-wrapper {
    flex-grow: 1;
    margin-right: 10px;
    position: relative;
}

.input-wrapper .ant-input {
    width: 100%;
}

.input-error {
    position: absolute;
    color: #ff4d4f;
    font-size: 12px;
    bottom: -20px;
    left: 0;
}

.task-completed {
    text-decoration: line-through;
}